<div class="container">
    <fieldset>
        <legend class="form-login-heading">Cadastro Cliente</legend>
        <div class="row">
            <div class="col-md-5">
                <p data-ng-hide="addMode">
                    <a data-ng-click="toggleAdd()" href="javascript:;" class="btn btn-primary">
                        <i class="glyphicon glyphicon-plus"></i>Novo Cliente
                    </a>
                </p>

                <form name="addCliente" role="form" data-ng-show="addMode">

                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome" placeholder="Nome do cliente" data-ng-model="cliente.Nome" required />
                    </div>

                    <div class="form-group">
                        <label for="cpfcnpj">Cpf/Cnpj</label>
                        <input type="text" class="form-control" id="cpfcnpj" placeholder="CPF ou CNPJ do cliente" ui-br-cpfcnpj-mask data-ng-model="cliente.CpfCnpj" required />
                    </div>

                    <div class="form-group">
                        <label for="telefone">Telefone</label>
                        <input type="text" class="form-control" id="telefone" ui-br-phone-number placeholder="Telefone do cliente" data-ng-model="cliente.Telefone" required />
                    </div>

                    <br />
                    <div class="form-group">
                        <div class="col-sm-offset-7 col-sm-10">
                            <!--<button ng-disabled="cliente.Nome == '' || cliente.CpfCnpj == '' || cliente.Telefone == ''" class="btn btn-primary"
                                type="submit" data-ng-click="isInsert()">
                                Salvar
                            </button>-->
                            <input type="submit" value="Salvar" data-ng-disable="isInsert()" data-ng-click="insert()" class="btn btn-primary">
                            <input type="button" value="Cancelar" data-ng-click="toggleAdd()" class="btn btn-primary" />
                        </div>
                    </div>
                    <br />
                </form>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend class="form-login-heading">Clientes</legend>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Cpf/Cnpj</th>
                        <th>Telefone</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="cliente in Clientes" data-ng-show="!loading">
                        <td><strong>{{ cliente.ClienteId }}</strong></td>
                        <td>
                            <p data-ng-hide="cliente.editMode">{{ cliente.Nome }}</p>
                            <input data-ng-show="cliente.editMode" type="text" class="form-control" placeholder="Nome do cliente" data-ng-model="cliente.Nome" required />
                        </td>
                        <td>
                            <p data-ng-hide="cliente.editMode">{{ cliente.CpfCnpj }}</p>
                            <input data-ng-show="cliente.editMode" type="text" class="form-control" ui-br-cpfcnpj-mask placeholder="CPF ou CNPJ do cliente" data-ng-model="cliente.CpfCnpj" required />
                        </td>
                        <td>
                            <p data-ng-hide="cliente.editMode">{{ cliente.Telefone }}</p>
                            <input data-ng-show="cliente.editMode" type="text" class="form-control" ui-br-phone-number placeholder="Telefone do cliente" data-ng-model="cliente.Telefone" required />
                        </td>
                        <td>
                            <p data-ng-hide="cliente.editMode">
                                <a data-ng-click="toggleEdit(cliente)" href="javascript:;">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a data-ng-click="delete(cliente)" href="javascript:;">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </p>

                            <p data-ng-show="cliente.editMode">
                                <a data-ng-click="update(cliente)" href="javascript:;">
                                    <i class="glyphicon glyphicon-floppy-disk"></i>
                                </a>
                                <a data-ng-click="toggleEdit(cliente)" href="javascript:;">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </p>
                        </td>
                    </tr>
                    <tr data-ng-show="Clientes.length == 0 && !loading">
                        <td colspan="12" class="text-center">
                            Nenhum registro encontrado
                        </td>
                    </tr>
                    <tr data-ng-show="loading">
                        <td colspan="12" class="text-center">
                            Carregando Registros...
                        </td>
                    </tr>
                </tbody>
            </table>


            <hr />
        </div>
    </fieldset>
</div>
