<div class="center-block" style="width:400px;">
    <form class="form-login" role="form">
        <fieldset>
            <legend class="form-login-heading">Cadastro Usuário</legend>

            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" name="nome" class="form-control" placeholder="Nome" data-ng-model="registration.Nome" required autofocus>
            </div>
            <div class="form-group">
                <label for="senha">Senha</label>
                <input type="password" name="senha" class="form-control" placeholder="Senha" data-ng-model="registration.Senha" required>
            </div>
            <div class="form-group">
                <label for="confirmarSenha">Confirmar Senha</label>
                <input type="password" name="confirmarSenha" class="form-control" placeholder="Confirmar Senha" data-ng-model="registration.ConfirmarSenha" required>
            </div>

            <button ng-disabled="registration.Nome == '' || registration.Senha == '' || registration.ConfirmarSenha != registration.Senha" class="btn btn-primary btn-block"
                    type="submit" data-ng-click="signUp()">
                Salvar
            </button>
            <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                {{message}}
            </div>
        </fieldset>
    </form>
</div>