<?xml version="1.0"?>
<configuration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5"/>
   
  </system.web>
  <connectionStrings>
    <!--<add name="ProvaHBSis"
      connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename='C:\Users\felipe.sgavioli\Documents\ProvaHBSis.mdf';Integrated Security=True;"
      providerName="System.Data.SqlClient" />-->
    <!--<add name="ProvaHBSis" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='C:\Users\felipe.sgavioli\Documents\ProvaHBSis.mdf';Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ProvaHBSis" connectionString="Data Source=FELIPE-PC;Initial Catalog=ProvaHBSis;Persist Security Info=True;User ID=sa;password=manager" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  
</configuration>